<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.asciidoc.lsp.client.AsciidocConnectionProvider"
            id="com.vogella.asciidoc.lsp.server"
            label="AsciiDoc Language Server">
      </server>
      <contentTypeMapping
            contentType="com.vogella.asciidoc.contenttype"
            id="com.vogella.asciidoc.lsp.server"
            languageId="asciidoc">
      </contentTypeMapping>
   </extension>
</plugin>
